.image-container {
    width: 625px; /* Width of the image container */
    height: 500px; /* Height of the image container */
    overflow: hidden;
    border: 1px solid #ccc; /* Optional: Add border for visualization */
}

#cropped-image {
    width: 100%; /* This ensures that the image fills the container */
    height: 100%; /* This ensures that the image fills the container */
}
